.game h1 {
    font-size: 2.5rem;
}
.points span {
    font-weight: bold;
}
.tips span {
    color: #ecfa00;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #ecfa00;
    display: flex;
}

.Letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    width: 100px;
    height: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}
@media screen and (max-width: 400px) {
    .wordContainer {
        max-width: 15.5rem;
        max-height: 5rem;
        border: 10px solid #ecfa00;
        padding: 0.5rem;
    }
    .Letter, .blankSquare {
        font-size: 35px;
        width: 50px;
        height: 50px;
    }
}
.letterContainer form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2rem;
    text-align: center;
    margin-right: 1.5rem;
}